
nav>ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: rgb(214, 144, 144) !important;
    border: 0.25rem solid black !important;
}
nav>ul>li{
    border-radius: 30px solid !important;
    
}
article{
    width: 98%;
    text-align: justify;
    border: .25rem solid black;
    line-height: 0.8rem;
    margin: 0.5rem;
    background-color: rgb(215, 203, 243);
}
h1{
    text-align: center;
    text-shadow: .13rem 0;
    color: rgba(71, 64, 64, 0.649);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
section>h2{
    background-color: black !important;
    color: white;
    text-align: center;
    
    width: 100%;
}
article>h2{
    background: rgb(158, 75, 236);
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 0;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    padding-left:  0.24rem;
}

h3{
    padding-left:  .5rem;
}

p{
    padding-top: -.5rem;
    padding-left:  1.5rem;
    padding-right: 0.4rem;
    line-height: 1rem;
}

#footer{
    display: block;
    background-color: purple transparent;
}